.cabecalho {
    background-color: #EC362D;
    position: fixed;
    top: 0;
    left: 0;
    height: 69px;
    width: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Roboto", sans-serif;
    font-size: 37px;
    line-height: 43.36px;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

}

.linha{
    width:600px;
    background-color: aqua;
    height: 100px;
}

body {
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.nossosQuizzes {
    display: flex;
    flex-direction: column;
    width: 1051px;
    position: relative;
    margin-top: 146px;
}

.seusQuizzes{
    display:flex;
    flex-direction: column;
}

.criarQuiz {
    width: 100%;
    height: 181px;
    box-sizing: border-box;
    border: 1px dashed #D4D4D4;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.criarTexto {
    width: 250px;
    height: 108px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    line-height: 23.44px;
    color: #B9B9B9;
    text-align: center;
    display: flex;
    align-items: center;

}

button {
    width: 151px;
    height: 40px;
    border-radius: 50px;
    border: 1px dashed #EC362D;
    color: #EC362D;
    background-color: #FAFAFA;
    font-family: "Roboto", sans-serif;
    font-size: 21px;
    line-height: 24.61px;
    margin-bottom: 33px;
    cursor: pointer;

}

.tituloNossosQuizzes {
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    line-height: 23.44px;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-bottom:13px;
}

.addQuizz {
    color: #EC362D;
    height: 30px;
    width: 31px;
    margin-left: 15px;
    cursor: pointer;

}

.quizzesprontos{
    display: flex;
    flex-wrap: wrap;
    width: 1051px;
    justify-content: space-between;
}


h1 {
    margin-top: 77px;
    font-size: 20px;
    font-weight: 700;
    line-height: 23.44px;
    font-family: "Roboto", sans-serif;
}

.todosQuizzes {
    display: flex;
    flex-wrap: wrap;
    width: 1051px;
    justify-content: space-between;

}

.gameQuizzes img {

    margin-top: 12px;
    width: 340px;
    height: 181px;
    border-radius: 5px;
}

.img-quizz{
    position:relative;
    
}

.degrade{
    margin-top: 12px;
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0));
    width: 340px;
    height: 181px;
    top:0;
}

.gameQuizzes p {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 340px;
    height: 54px;
    color: #ffffff;
    font-size: 19px;
    font-weight: 400;
    line-height: 22.27px;
    border-radius: 5px;
    word-break: break-all;
    padding-left: 18px;
}

.gameQuizzes {
    position: relative;

}

.terceiraTela {
    margin-top: 69px;
}

.infoQuizz {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infoTexto {
    width: 100%;
    margin-top: 71px;
    margin-bottom: 27px;
    font-family: "Roboto", sans-serif;
    font-size: 23px;
    line-height: 26.95px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.infoDados {
    background-color: white;
    padding-top: 21px;
    padding-bottom: 24px;
    padding-left: 16px;
    padding-right: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    margin-bottom: 85px;
}

input {
    box-sizing: border-box;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    width: 564px;
    height: 46px;
}

input::placeholder {
    font-family: "Roboto", sans-serif;
    font-size: 19px;
    line-height: 22.27px;
    font-style: italic;
    color: #BABABA;
    padding-left: 40px;

}

.Tela31 {
    margin-bottom: 9px;
}

.Tela32 {
    margin-bottom: 14px;
}

.botaoTerceiraTela {
    width: 368.86px;
    height: 54px;
    border-radius: 15px;
    color: #FFF5F4;
    background-color: #EC362D;
    font-family: "Roboto", sans-serif;
    font-size: 21px;
    line-height: 24.61px;
}

.perguntaQuizz {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.perguntasInfo {
    width: 100%;
    height: 825px;
    background-color: white;
    padding-top: 27px;
    padding-bottom: 27px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    margin-top: 24px;
    margin-bottom: 24px;
}

.caixaTeste{
    padding-left: 16px;
    padding-right: 20px;
}

.caixaNivel {
    width: 100%;
    height: 316px;
    background-color: white;
    padding-top: 27px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.todasPerguntas {
    margin-bottom: 81px;
}

.niveisQuizz {

    display: flex;
    flex-direction: column;
    align-items: center;

}

.sucessoQuizz {

    display: flex;
    flex-direction: column;
    align-items: center;

}

.voltarHome{
    font-family: "Roboto", sans-serif;
    font-size: 21px;
    line-height: 24.61px;
    color: #818181;
}

.botaoSucesso {
    width: 220.32px;
    height: 44px;
    border-radius: 15px;
    color: #FFF5F4;
    background-color: #EC362D;
    font-family: "Roboto", sans-serif;
    font-size: 21px;
    line-height: 24.61px;
}

.textoImg {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 500px;
    height: 43px;
    color: #ffffff;
    font-size: 23px;
    font-weight: 400;
    line-height: 27px;
    border-radius: 5px;
    padding-left: 23px; 
}

.textoPergunta {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    line-height: 23.44px;
    color: #000000;
    font-weight: bold;
    margin-bottom: 16px;
}

.caixaUm {
    margin-bottom: 32px;
    padding-left: 16px;
    padding-right: 20px;

}

.caixaDois {
    margin-bottom: 14px;
    padding-left: 16px;
    padding-right: 20px;

}

.imgSucesso{
    margin-top: 20px;
    width:500px;
    height: 266px;
    border-radius: 5px;
    margin-bottom: 45px;
    position: relative;
}

.imgFinal{
    width:500px;
    height: 266px;
    border-radius: 5px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0,0.8));
    position: absolute;
    top:0;
}

.imgFinal23{
    width:500px;
    height: 266px;
    border-radius: 5px;
    position: relative;
}

.desativada {
    display: none;
}

.segundaTela .partida{
    display: flex;
    justify-content: center;
    position: relative;
    height: 227px;
    width: 1440px;
    left: 0px;
    top: 69px;

}

.segundaTela .partida p {
    position: absolute;
    top: 0;
    margin-top: 90px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 39px;
    line-height: 46px;
    color: #fff;
}

.segundaTela .partida .imagemLogo{
    height: 227px;
    width: 1440px;
    filter: brightness(60%);
}

.segundaTela .questoesQuizz .questaoPartida{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 75px 0px;
    
}

.segundaTela .questoesQuizz .questaoPartida .imagemQuestao{
    Width: 688px;
    Height: 138px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.segundaTela .questoesQuizz .questaoPartida .imagemQuestao .tituloQuestao{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    display: block;
    align-items: center;
    text-align: center;
}

.segundaTela .questoesQuizz .questaoPartida .respostasQuizz{
    display: flex;
    flex-wrap: wrap;
    Width: 688px;
}

.imagemResposta{
    width: 330px;
    height: 175px;
    margin: 10px 5px;
}

.segundaTela .questoesQuizz .questaoPartida .respostasQuizz .respostaPartida .tituloResposta{
    display: block;
    flex-wrap: wrap;
    width: 300px;
    margin-top: 8px;
    margin-bottom: 18px;
    margin-left: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
}

.resultadoTela {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tituloResultado {    
    display: flex;
    align-content: center;
    justify-content: center;

    width: 727px;
    height: 99px;
    background: #EC362D;
}

.resultadoNivel {
    display: block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    color: #FFFFFF;
}

.itensNivel {
    display: flex;
    width: 727px;
}

.intensNivel div {
    width: 360px;
}

.imagemNivel {
    display: block;
    justify-content: center;
    width: 364px;
    height: 273px;
    margin: 20px;
}
.tituloNivel, textoNivel, .reiniciar button {
    display: block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 25px;
}

.retorno {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.retorno button {
    margin: 10px 0px ;
    width: 260px;
}

.reiniciar {
    background-color: #EC362D;
    color: #fff;
}

/* @media (max-width: 614px) {
    header {
        justify-content: center;
    }
}; */