.cabecalho {
    background-color: #EC362D;
    position: fixed;
    top: 0;
    left: 0;
    height: 69px;
    width: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Roboto", sans-serif;
    font-size: 37px;
    line-height: 43.36px;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

}

.linha{
    width:600px;
    background-color: aqua;
    height: 100px;
}

body {
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nossosQuizzes {
    display: flex;
    flex-direction: column;
    width: 1051px;
    position: relative;
    margin-top: 146px;
}

.criarQuiz {
    width: 100%;
    height: 181px;
    box-sizing: border-box;
    border: 1px dashed #D4D4D4;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.criarTexto {
    width: 250px;
    height: 108px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    line-height: 23.44px;
    color: #B9B9B9;
    text-align: center;
    display: flex;
    align-items: center;

}

button {
    width: 151px;
    height: 40px;
    border-radius: 50px;
    border: 1px dashed #EC362D;
    color: #EC362D;
    background-color: #FAFAFA;
    font-family: "Roboto", sans-serif;
    font-size: 21px;
    line-height: 24.61px;
    margin-bottom: 33px;
    cursor: pointer;

}

.tituloNossosQuizzes {
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    line-height: 23.44px;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
}

.addQuizz {
    color: #EC362D;
    height: 30px;
    width: 31px;
    margin-left: 15px;
    cursor: pointer;

}

/* andre usando
*/

h1 {
    margin-top: 77px;
    font-size: 20px;
    font-weight: 700;
    line-height: 23.44px;
    font-family: "Roboto", sans-serif;
}

.todosQuizzes {
    display: flex;
    flex-wrap: wrap;
    width: 1051px;
    justify-content: space-between;

}

.todosQuizzes .gameQuizzes img {

    margin-top: 12px;
    width: 340px;
    height: 181px;
    border-radius: 5px;
}

.todosQuizzes .gameQuizzes p {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 340px;
    height: 54px;
    color: #ffffff;
    font-size: 19px;
    font-weight: 400;
    line-height: 22.27px;
    text-align: center;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0));
    border-radius: 5px;
}

.todosQuizzes .gameQuizzes {
    position: relative;

}

.terceiraTela {
    margin-top: 69px;
}

.infoQuizz {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infoTexto {
    width: 100%;
    margin-top: 71px;
    margin-bottom: 27px;
    font-family: "Roboto", sans-serif;
    font-size: 23px;
    line-height: 26.95px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.infoDados {
    background-color: white;
    padding-top: 21px;
    padding-bottom: 24px;
    padding-left: 16px;
    padding-right: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    margin-bottom: 85px;
}

input {
    box-sizing: border-box;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    width: 564px;
    height: 46px;
}

input::placeholder {
    font-family: "Roboto", sans-serif;
    font-size: 19px;
    line-height: 22.27px;
    font-style: italic;
    color: #BABABA;
    padding-left: 40px;

}

.Tela31 {
    margin-bottom: 9px;
}

.Tela32 {
    margin-bottom: 14px;
}

.botaoTerceiraTela {
    width: 368.86px;
    height: 54px;
    border-radius: 15px;
    color: #FFF5F4;
    background-color: #EC362D;
    font-family: "Roboto", sans-serif;
    font-size: 21px;
    line-height: 24.61px;
}

.perguntaQuizz {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.perguntasInfo {
    width: 100%;
    height: 825px;
    background-color: white;
    padding-top: 27px;
    padding-bottom: 27px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    margin-top: 24px;
    margin-bottom: 24px;
}

.caixaTeste{
    padding-left: 16px;
    padding-right: 20px;
}

.caixaNivel {
    width: 100%;
    height: 316px;
    background-color: white;
    padding-top: 27px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.todasPerguntas {
    margin-bottom: 81px;
}

.niveisQuizz {

    display: flex;
    flex-direction: column;
    align-items: center;

}

.textoPergunta {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    line-height: 23.44px;
    color: #000000;
    font-weight: bold;
    margin-bottom: 16px;
}

.caixaUm {
    margin-bottom: 32px;
    padding-left: 16px;
    padding-right: 20px;

}

.caixaDois {
    margin-bottom: 14px;
    padding-left: 16px;
    padding-right: 20px;

}

.desativada {
    display: none;
}

.segundaTela {}

;

.segundaTela .partida {
    height: 227px;
    width: 1440px;
    left: 0px;
    top: 69px;

}

;

.segundaTela .partida .imagemLogo {
    height: 227px;
    width: 1440px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.57), rgba(0, 0, 0, 0.57));
}

;

.segundaTela .partida .tituloLogo {}

;

.segundaTela .questoesQuizz {}

;

.segundaTela .questoesQuizz .questaoPartida {}

;

.segundaTela .questoesQuizz .questaoPartida .imagemQuestao {}

;

.segundaTela .questoesQuizz .questaoPartida .imagemQuestao .tituloQuestao {}

;

.segundaTela .questoesQuizz .questaoPartida .respostasQuizz {}

;

.respostaPartida {
    background-color: #EC362D;
}

;

.imagemResposta {
    display: none;
    width: 33px;
    height: 18px;
}

;

.segundaTela .questoesQuizz .questaoPartida .respostasQuizz .respostaPartida .tituloResposta {}

;